* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ABOUT SECTION */

.about-section {
  display: flex;
  flex-wrap: wrap;
  background-image: url('./images/griffith.jpg');
  background-size: cover;
  background-position: center center;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: pink; */
  margin: 5px;
  height: 80%;
  width: 90%;
  /* align-items: center; */
  justify-content: center;
}

.about-item {
  display: flex;
  justify-content: center;
  background-color: blue;
  margin: 5px;
}

.about-item p { 
  background-color: lavender;
  height:fit-content;
}

.about-item-1 {
  
}

.about-item-2 {
  align-items: center;
}

.about-image {
  max-width: 100%;
  max-height: 100%;
  /* width: 80%;
  height: auto; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1rem #11FFEE solid;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {

  /* ABOUT SECTION */

  .about-section {
    height: 100%;
  }
  .about-container {
    display: flex;
    flex-wrap: wrap;
  }

  .about-image {
    min-width: 0;
    max-width: 50%;
  }
}
