* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  padding: 0;
}

.nav-link {
  /* margin-left: 3rem; */
  font-size: larger;
  font-family: 'Merienda', cursive;
  margin-left: .2rem;
}

.navbar-brand {
  font-size:xx-large;
  font-family: 'Cormorant Unicase', serif;
  padding-left: 1rem;
}

.navbar-brand:hover {
  text-decoration: underline #11FFEE 5px;
}

.nav-link:hover {
  border: 2px #11FFEE groove;
  margin-bottom: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ABOUT SECTION */

.about-section {
  display: flex;
  flex-wrap: wrap;
  background-image: url('./images/griffith.jpg');
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.about-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1rem 0 1rem 0;
  align-items: center;
  /* background-color: blue; */
  text-align: center;
  padding: 1rem;
}

.about-info {
  background-color: rgb(254, 250, 247);
  font-family: 'Merienda', cursive;
  font-size:larger;
  line-height: 2rem;
  color:rgb(52, 78, 67);
  border: 1rem #11FFEE groove;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius:25%;
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  -ms-border-radius:25%;
  -o-border-radius:25%;
}

.about-image {
  height: 50vh;
  margin: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1rem #11FFEE groove;
}

.devicons {
  font-size: 2rem;
  margin-top: .5rem;
}

/* PROJECTS */

.projects-container {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  background-color:lightpink;
}

.project-image {
  height: 45vh;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  /* ABOUT SECTION */

  .about-container {
    width: 90%;
  }
}
